:ROOT{
--FontHeading:'PT Sans', sans-serif;
--FontParagraph:'Open Sans', sans-serif;

--PrimaryColor: #784d3c;
--White: #ffffff;
--grey: #e1e1e1e1;
--black: #000000;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-family: var(--FontParagraph);
    font-size:1.6rem;
    line-height: 2;
}

/*Globals*/

.container{

    max-width:120rem;
    width: 90%;
    margin: 0 auto;   
}

a{
    text-decoration: none;
}

h1,h2 , h3, h4{
    font-family: var(--FontHeading);
    line-height: 1;
}
h1{
    font-size:4.8rem;
}
h2{
    font-size:4rem;
}
h3{
    font-size:3.2rem;
}
h4{
    font-size:2.8rem;
}

img{
    max-width: 100%;
}

/*Utilities*/

.no-Margin{
    margin: 0;   
}
.no-Padding{
    padding: 0;
}
.center-text{
    text-align: center;
}

/*Header*/


.header{
    background-image: url(../img/banner.jpg);
    height:60rem;
    background-size: cover;
    background-size: no-repeat;
    background-position: center center;   
}

.header__text{
    text-align: center;
    color: var(--White);
    margin-top:15rem;
    
}
@media (max-width: 768px) {
    .header__text{
        margin-top:15rem;
    }
}
.barra{
    padding-top: 2rem;
}
@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo{
    color: var(--White);
}
.logo__Name{
    font-weight: 400;
}
.logo__bold{
    font-weight: 700;

}

.navigation__link{
    display: block;
    text-align: center;
    font-size:1.8rem;
    color: var(--White);
}
@media (min-width: 768px) {
    .navigation{
        display:flex;
        gap: 3rem;
    }
}

@media (min-width: 768px) {
    .main_content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entry{
    border-bottom: 1px solid var(--grey);
    margin-bottom: 2rem;
}
.entry:last-of-type{
    border: none;
    margin-bottom: 0;
}

.button{
    display: block;
    font-family: (var(--FontHeading));
    color: var(--White);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}
@media (min-width: 768px) {
    .button{
        display: inline-block;   
    }
}
.button:hover{
    cursor: pointer;
}

.button--primary{
    background-color: black;
}

.button--secundary{
    background: var(--PrimaryColor);
}

.courses{
    list-style: none;

}
.widget-course{
    border-bottom: 1px solid var(--grey);
    margin-bottom: 2rem;
}

.widget-course:last-of-type{
    border: none;
    margin-bottom: 0;
}

.widget-course__label{
    font-family: var(--FontHeading);
    font-weight: bold;
}
.widget-course__info{
    font-weight: normal;

}
.widget-course__label,.widget-course__info{
    font-size: 2rem;
}

.footer{
    background-color: #000000;
    padding: 3rem 0;
    margin-top: 4rem;
}

/*About US*/

@media (min-width:768px) {
    .About-Us{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
/*Courses*/
.course{
    padding: 3rem;
    border-bottom: 1px solid var(--grey);


}

@media (min-width: 768px){
    .course{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.course:last-of-type{
    border: none;
   
}

.course:last-of-type{
    border: none;
    margin-bottom: 0;
}

.course__label{
    font-family: var(--FontHeading);
    font-weight: bold;
}
.course__info{
    font-weight: normal;
}
/*Contact*/

.contact-bg{
    background-image: url(/img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.form{
    background-color: var(--White);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.side{
    display: flex;
    margin-bottom: 2rem;
}

.side__label{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.side__field{
    flex: 1;
    border: 1px solid var(--grey);
}

.side__field--textarea{
    height: 20rem;
}